.tutorial-tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  min-height: 200px;
}

.tutorial-tool .tutorial-tool-videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.tutorial-tool .not-supported-text {
  color: #ff5e5e;
  text-align: center;
  flex: 1 0 100%;
  max-width: 100%;
  font-size: 18px;
  padding: 10px 0;
}

.tutorial-tool .loading-text {
  color: #3be4ff;
  text-align: center;
  flex: 1 0 100%;
  max-width: 100%;
  font-size: 18px;
  padding: 10px 0;
  min-height: 100px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
}

.tutorial-tool a {
  position: relative;
  color: black;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tutorial-tool a video {
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  border: 10px solid #212121;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  min-height: 100px;
}

.tutorial-tool a.selected video {
  border: 10px solid #ff5e5e;
}

.tutorial-tool a.selected.highlight-white video {
  border-color: #ffffff;
}

.tutorial-tool a.selected.highlight-info video {
  border-color: #3be4ff;
}

.tutorial-tool a.selected.highlight-white .mask svg {
  border-color: #ffffff;
}

.tutorial-tool a.selected.highlight-info .mask svg {
  border-color: #3be4ff;
}


.tutorial-tool a.highlight-white .description {
  color: #ffffff;
}

.tutorial-tool a.highlight-info .description {
  color: #3be4ff;
}

.tutorial-tool a .mask {
  position: relative;
  width: 100%;
  display: grid;
}

.tutorial-tool a .mask svg {
  position: absolute;
  border: 10px solid #212121;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  top: 0;
}

.tutorial-tool a .mask svg mask rect {
  opacity: 0.7;
}

.tutorial-tool a .mask svg mask polygon {
  opacity: 1;
}


.tutorial-tool a .number {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 24px;
}

.tutorial-tool a.selected .number {
  color: #ff5e5e;
}


.tutorial-tool a.highlight-white .number {
  color: #ffffff !important;
}

.tutorial-tool a.highlight-info .number {
  color: #3be4ff !important;
}

.tutorial-tool a>p {
  text-align: left;
  color: white;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {
  .tutorial-tool a {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .tutorial-tool a {
    flex: 1 0 100%;
    max-width: 100%;
  }
}